---
layout: page_layout
title: Articles
---


{% for post in site.posts %}

  <h1 class="title is-size-2-desktop is-marginless">
    <a href="{{post.url}}">{{post.title}}</a>
  </h1>  
  
  <p class="is-size-4-desktop has-text-grey-light">{{ post.date | date_to_string }}</p>
  
  <div class="container content">
  {{ post.content | truncatewords: 75 }} 
  <hr >

      <div class="tags ">
        {% for category in post.categories %}
          <span class="tag title is-size-6-desktop">{{ category | capitalize }}</span>
        {% endfor %}
      </div>
</div>

{% endfor %} 




