


    <div class="columns is-centered ">
    <div class="column ">
        <div class="home-image-wrapper ">
        <figure class="image ">
           <img class="is-rounded" src="/assets/images/yo.png">
        </figure>
    </div>
    </div>
</div>


<div class="columns is-centered is-paddingless">
        <div class="column ">
            <h1 class="title is-size-2-desktop has-text-centered">Jestemrique</h1>
            <h2 class="subtitle is-size-4-desktop has-text-centered">Learning stuff</h2>
        </div>
 </div>
