//My vars.
$family-primary: "Assistant";
$family-secondary: 'Rokkitt';
$body-family: $family-secondary;
$body-size: 1.3em;


//Titles.
$title-family: $family-primary;
$subtitle-family: $family-primary;
$title-weight: 300;
$subtitle-weight: 300;

//Colors.
$primary: hsl(0, 0%, 48%); //$grey;

//links
$link-color: hsl(0, 0%, 29%); //$grey-dark
//$link-color: #ff0000;
$link: $link-color;
//$link-hover: hsl(14, 100%, 53%); //$orange
$link-hover:hsl(0, 0%, 14%);

//Tags
//$tag-background-color: #ffffff;

//hr
$hr-margin: 0.5rem 0;

//Sections.
$section-padding: 0.5rem 0.5rem;


//Navbar
$navbar-height: 0rem;
$navbar-padding-vertical: 0rem;

//Footer
$footer-background-color: hsl(0, 0%, 0%); //$grey-dark;
$footer-padding: 0.5rem 0.5rem 0.5rem;

@import "bulma/bulma";

//epr styles.
@import "epr_styles/jestemrique";
//@import "epr_styles/debug";
