---
layout: base_layout
---


<h2 class="title is-marginless">{{page.title}}</h2>

<p class="has-text-grey-light">{{ page.date | date_to_string }}</p>

<div class="content"></div>
  {{ content }}
</div>

<div class="container post__footer">
    <p class="has-text-centered">    Share this post.    </p>
    <div class=" container has-text-centered ">
        <ul class="social-icons">
            <li><a href="https://twitter.com/intent/tweet?text={{page.title}}:%20{{site.url}}{{page.url}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"><i class="fab fa-twitter is-pulled-left"></i></a></li>
            <!-- <li><i class="fab fa-facebook-square is-pulled-right"></i> </li> -->

            <li>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}"  onclick="window.open(this.href, 'fb-share', 'width=550,height=235');return false;"><i class="fab fa-facebook-square is-pulled-right"></i></a>
            </li>



        </ul>
    </div>
</div>

